body {
	margin: 0;
	font-family: 'Century Gothic', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.header {
	padding: 0em 1em;
	text-align: center;
}

.reservations {
	padding: 2em 1em;
	display: flex;
}

.make-a-reservation {
	flex: 0 1 50%;
	padding: 2em;
	border: 2px solid #eee;
	text-align: center;
}

.make-a-reservation h3 {
	margin-top: 0;
}

#makeReservation input {
	width: 100%;
	border: 2px solid #eee;
	padding: 4px 8px;
	margin: 1em 0;
	box-sizing: border-box;
	font-family: 'Century Gothic', sans-serif;
}

#makeReservation button {
	margin: 1em auto 0 auto;
	background: #333;
	color: #fff;
	padding: 8px 12px;
	border: 0px;
	font-family: 'Century Gothic', sans-serif;
}

#makeReservation button:hover {
	background: #666;
}

#makeReservation p.error {
	display: none;
	color: red;
}

.existing-reservations {
	flex: 0 1 50%;
	text-align: center;
}

.existing-reservations table {
	margin: 0 auto;
	border-collapse: collapse;
}

.existing-reservations table, th, td {
	border: 1px solid #999;
	text-align: left;
}

span.remove {
	width: 20px;
	height: 20px;
	background: red;
	color: #fff;
	border-radius: 100%;
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
}

span.remove:before {
	content: 'x';
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	top: -2px;
}

th {
	background: #eee;
}

th, td {
	padding: 8px 12px;
}

#reviews {
	padding: 2em 1em;
	display: flex;
}

.dine-with-us {
	padding: 2em 1em;
	text-align: center;
}

#map {
	height: 500px;
}